* {
	margin: 0;
	padding: 0;
	/* outline: 1px solid cadetblue; */
	scroll-behavior: smooth;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

*, :after, :before {
	box-sizing: border-box;
	transition: background .2s;
}
@view-transition {
  navigation: auto;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: .2s;
}

:root {
	--bg: #0d1117;
	--bg-t: #0d111788;
	--co: #c9d1d9;
	--co-t: #c9d1d988;

	--hl-labels: #009688;
	--hl-keywords: #ff5722;
	--hl-models: #7091a0;
	--hl-classes: #7091a0;
	--hl-commands: #0288d1;
	--hl-numbers: #8b58e4;
	--hl-variables: #7091a0;
	--hl-strings: #ffd54f;
	--hl-comments: #919191;
	--hl-directives: #ffd54f;
	--hl-charScape: #8b58e4;

	--c-red: #ff5252;
	--c-blue: #2196f3;
	--c-green: #00e676;
	--c-pink: #e91e63;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	background: linear-gradient(135deg, #1e0229, #6b0069);
	min-height: 100vh;
	color: var(--co);
	scroll-behavior: smooth;
	transition: background 0.24s;
	transition-timing-function: ease-out;
	overflow-y: scroll;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	display: none;
}

#c {
	opacity: 0;
	transition: opacity .48s;
}

::-webkit-scrollbar { width: .27rem;}
::-webkit-scrollbar-track { background: #0A0D14 }
::-webkit-scrollbar-thumb { background: #262B32; border: 1px #0a0d14 solid; }
::-webkit-scrollbar-corner {background: #0A0D14}

::placeholder {
  color: #8b949e;
  font-size: 1em;
}
/*
::-webkit-scrollbar             
::-webkit-scrollbar-button      
::-webkit-scrollbar-track       
::-webkit-scrollbar-track-piece 
::-webkit-scrollbar-thumb       
::-webkit-scrollbar-corner      
::-webkit-resizer               
*/
#navbar {
	background: #3209359c;
	color: #fff;
	font-weight: 700;
	overflow: hidden;
}
#navbar h1{
	padding: 9px 33px;
	border-bottom: none;
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navbar h1 a{
	color: white;
}
#navbar h1 a:hover{
	text-decoration: none;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

#nav, #nav * {
	display: flex;
	align-items: center;
}

#nav {
	justify-content: space-between;
	align-items: center;
	padding: 0 33px;
	background: #1a00199c;

	& section {
		gap: .7em;
		margin: 0;
		list-style: none;
		
		& a {
			color: #ddd;
			transition: all .2s;
			height: 2.5rem;
			justify-content: center;
			outline: none;

			&:hover, &:focus {
				text-decoration: none;
				color: #fff;
				scale: 1.01;
				transform: translate(0px, -2px);
			}

			&:hover::before {
				width: 100%;
				height: 2px;
			}

			&::before {
		    content: '';
		    width: 0%;
		    height: 0px;
		    background: #00a2e8;
		    position: absolute;
		    bottom: 0;
		    transition: width .2s;
			}
		}
	}
} 


#credits {
	line-height: 22px;
	font-size: 14px;
	color: #8b949e;
	padding: 8px 0;
}
.markdown {
	font-size: 1rem;
	padding: 1rem 15px;
	margin: 0 auto;
}

table {
	width: 100%;
	margin: .5rem 0;
	border-spacing: 0;
	border: 1px solid #30363d;
	border-radius: 4px;
	display: block;
}

thead {
	font-weight: bold;
}

th, td {
	padding: .6rem;
	border-left: #30363d 1px solid;
	text-align: center;
	width: 1%;
}

td {
	border-top: #30363d 1px solid;
}

td:first-child, th:first-child {
	position: relative;
	border-left: none;
	text-align: left;
}

thead td{
	border-top: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600
}
h1, h2, h3 {
	padding: 1rem 0 0.3em;
	margin-bottom: 1rem;
	border-bottom: #30363d 1px solid;
}

h4, h5, h6 {
	padding: .5rem 0;
}

h1, .h1, .h1\* * { font-size: calc(1.375rem + 1.5vw) }
h2, .h2, .h2\* * { font-size: calc(1.325rem + .9vw) }
h3, .h3, .h3\* * { font-size: calc(1.3rem + .6vw) }
h4, .h4, .h4\* * { font-size: calc(1.275rem + .3vw) }
h5, .h5, .h5\* * { font-size: 1.25rem }
h6, .h6, .h6\* * { font-size: 1rem }

hr {
	border: 0;
	border-bottom: solid #999814 1px;
	margin: 15px 0;
}

p { padding: 8px 0 }

b { font-weight: 700 }

ins { 
	text-decoration: dotted underline;
	text-underline-position: under;
}

dl, ol, ul { margin: 1rem calc(1.5rem + .5vw) }

dd, li { margin: 0 0 5px }

code, .code, kbd, pre, samp {
	background: #161b22;
	color: #F8F8F0;
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

pre {
	padding: 4px 10px;
	margin: 0.6rem 0px;
	overflow-y: auto;
	max-height: 80vh;
	border-radius: .25rem;
}

code, .code {
	white-space: pre;
	padding: 2px 5px;
	border-radius: 3px;
	margin: 0 2px;
}

textarea{
	font-size: 1rem !important;
	padding: 0.5rem !important;
	tab-size: 4;
	user-select: auto;
}

img {
  image-rendering: optimizespeed;
  max-height : 100%;
  max-width : 100%;
  width : auto;
  height : auto;
}
td img {
	margin: 0;
}

.center img, .l img, .c img, .r img {
	margin: 0.5rem 0;
}

a, a *{
	color: #00a2e8;
	text-decoration: none;
	font-weight: 500;
}
a:hover, a:focus {
	text-decoration: none
}
a.button, label.button {
    background: var(--c-blue);
    color: black;
    padding: .8em 0;
    width: 10rem;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: .84em;
    cursor: pointer;
}

a.button:hover, a.button:focus {
	text-decoration: none
}

blockquote {
	padding: 5px 1rem;
	margin: 5px 0;
	border-left: #00c853 4px solid;
	color: #009688;
}

.warning {
	border-left: var(--c-red) 4px solid;
	color: var(--c-red);
}

.info {
	border-left: #448aff 4px solid;
	color: #448aff;
}
.success {
	border-left: #00c853 4px solid;
	color: #009688;
}
pre[contenteditable="true"] {
	outline: #009688 1px solid;
	color: #009688;
}

div.success, div.warning, div.info {
	padding: 5px 1rem;
	margin: 1rem 0;
	display: block;
}

input[disabled]{
	color: var(--co-t) !important;
}

input[type='text'], input[type='search'], input[type='number'], textarea {
	border: none;
	outline: none;
	font-size: 1em;
	background: #1a00199c;
	color: var(--co);
	padding: 0.4em 0.6em;
	border-bottom: #0000 solid 1px;
	transition: .2s;
}

input[type='text'], input[type='search'], input[type='number'] {
	&.update {
		&:hover {
			border-bottom: #30363d solid 1px;
		}
		&:focus {
			border-bottom: #dae800 solid 1px;
			box-shadow: #e6ff3657 0px 3px 5px -1px;
		}
	}
}

input[type='checkbox']{
	width: 1em;
	padding: 0;
}

.video-responsive {position: relative;padding-bottom: 56.25%;padding-inl: 30px;height: 0;overflow: hidden;background: black;}
.video-responsive embed, .video-responsive iframe, .video-responsive object { position: absolute; top: 0; left: 0; width: 100%; height: 100% }

.keywords { color: var(--hl-keywords) }
.models { color: var(--hl-models) }
.classes { color: var(--hl-classes) }
.commands { color: var(--hl-commands) }
.numbers,
.numbers * { color: var(--hl-numbers) }
.variables,
.variables * { color: var(--hl-variables) }
.directives,
.directives * { color: var(--hl-directives) }
.strings,
.strings * { color: var(--hl-strings) }
.charScape,
.charScape * { color: var(--hl-charScape) }
.comments,
.comments * { color: var(--hl-comments) }
.labels,
.labels * { color: var(--hl-labels) }

.d-none {display: none}
.d-block {display: block}
.d-flex {
	&.wrap {flex-wrap: wrap}
	&.column {flex-direction: column}
	&.reverse {flex-direction: row-reverse}
	&.end {justify-content: flex-end}
	&.between {justify-content: space-between}
	&.button {align-items: flex-end}
	&.center {justify-content: center}
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	flex: 0 0 auto;
}

@media (min-width:576px) {
	.markdown { max-width: 87.7% }
}
@media (min-width:768px) {
	
}
@media (min-width:992px) {
}
@media (min-width:1200px) {
	h1 { font-size: 2.5rem }
	h2 { font-size: 2rem }
	h3 { font-size: 1.75rem }
	h4 { font-size: 1.5rem }
}
@media (min-width:1400px) {
}
@media (min-width:1600px) {
	.markdown { max-width: 1500px }
}

.center, .c { text-align: center }
.right, .r {text-align: right}
.left, .l {text-align: left}

.light { font-weight: 300 }
.bold { font-weight: 700 }

.uppercase { text-transform: uppercase }

.f-center {align-self: center;}

.mw-50 {
	max-width: 50%;
}

.w-100{width: 100%}
.h-33 {height: 28.65rem;}
.h-43 {height:43vh}
.h-50 {height:50vh}
.h-100 {height:100vh}
.h-100-auto {height: calc(100vh - 3.375rem - 1.5vw - 4px)}
.o-auto{overflow:auto}

.pre, pre {white-space: pre; user-select: auto;}

.white, .white *, .white-dm, .white-dm * {color: var(--co)}
.bg-white, .bg-white *, .bg-white-dm {background: var(--co)}
.black, .black *, .black-dm, .black-dm * {color: var(--bg)}
.bg-black, .bg-black *, .bg-black-dm {background:#000;}
.bg-black-1, .bg-black-1 *, .bg-black-1-dm {background: var(--bg)}
.bg-black-2, .bg-black-2 *, .bg-black-2-dm {background: #121821}

.red, .red  * { color:var(--c-red); }
.bg-red, .bg-red  * { background:var(--c-red); }
.orange, .orange  * { color:#ffab40 }
.bg-orange, .bg-orange  * { background:#ffab40 }
.green, .green  * { color:var(--c-green) }
.bg-green, .bg-green  * { background:var(--c-green) }
.yellow, .yellow  * { color:#ffeb3b }
.bg-yellow, .bg-yellow  * { background:#ffeb3b }
.blue, .blue  * { color:var(--c-blue); }
.bg-blue, .bg-blue  * { background:var(--c-blue); }
.pink, .pink  * { color:var(--c-pink); }
.pink-1 {color: #ec407a!important;}
.bg-pink, .bg-pink  * { background:var(--c-pink); }
.purple, .purple  * { color:#e040fb }
.bg-purple, .bg-purple  * { background:#e040fb }
.gray, .gray  * { color:#9e9e9e }
.bg-gray, .bg-gray  * { background:#9e9e9e }

.no-decoration, .no-decoration:hover, .no-decoration:focus {text-decoration: none;}

#direcciones {
  display: block;
	font-size: 1.25rem;
  padding: .5rem 0;
  font-weight: 600;
}

#CHANGE {
	background: none!important;
	border: none!important;
	cursor: pointer;
    max-height: 48px;
}

@font-face { font-family: 'Material Icons'; font-style: normal; font-weight: 400; src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2') }
.icon { font-family: 'Material Icons'; font-weight: 400; font-style: normal; font-size: 2rem; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-smoothing: antialiased;user-select: none; }
.icon { text-rendering: optimizeLegibility; -webkit-font-feature-settings: 'liga'; -moz-font-feature-settings: 'liga'; font-feature-settings: 'liga' }

@media only screen and (min-width:360px) {
	.flow-text { font-size: 1.2rem }
}
@media only screen and (min-width:390px) {
	.flow-text { font-size: 1.224rem }
}
@media only screen and (min-width:420px) {
	.flow-text { font-size: 1.248rem }
}
@media only screen and (min-width:450px) {
	.flow-text { font-size: 1.272rem }
}
@media only screen and (min-width:480px) {
	.flow-text { font-size: 1.296rem }
}
@media only screen and (min-width:510px) {
	.flow-text { font-size: 1.32rem }
}
@media only screen and (min-width:540px) {
	.flow-text { font-size: 1.344rem }
}
@media only screen and (min-width:570px) {
	.flow-text { font-size: 1.368rem }
}
@media only screen and (min-width:600px) {
	.flow-text { font-size: 1.392rem }
}
@media only screen and (min-width:630px) {
	.flow-text { font-size: 1.416rem }
}
@media only screen and (min-width:660px) {
	.flow-text { font-size: 1.44rem }
}
@media only screen and (min-width:690px) {
	.flow-text { font-size: 1.464rem }
}
@media only screen and (min-width:720px) {
	.flow-text { font-size: 1.488rem }
}
@media only screen and (min-width:750px) {
	.flow-text { font-size: 1.512rem }
}
@media only screen and (min-width:780px) {
	.flow-text { font-size: 1.536rem }
}
@media only screen and (min-width:810px) {
	.flow-text { font-size: 1.56rem }
}
@media only screen and (min-width:840px) {
	.flow-text { font-size: 1.584rem }
}
@media only screen and (min-width:870px) {
	.flow-text { font-size: 1.608rem }
}
@media only screen and (min-width:900px) {
	.flow-text { font-size: 1.632rem }
}
@media only screen and (min-width:930px) {
	.flow-text { font-size: 1.656rem }
}
@media only screen and (min-width:960px) {
	.flow-text { font-size: 1.68rem }
}
@media only screen and (max-width:360px) {
	.flow-text { font-size: 1.2rem }
}

.\:pointer {
	cursor: pointer;
}

.aspect-pano {
  aspect-ratio: 16 / 9;
}
.aspect-cine {
  aspect-ratio: 2.39 / 1;
}
.aspect-home {
  aspect-ratio: 4 / 3;
}