.r-0 { right: 0 }
.t-0 { top: 0 }
.b-0 { bottom: 0 }
.l-0 { left: 0 }
.promo { width: 100% }
.promo icon { margin: 40px 0; color: #ee6e73; font-size: 7rem; display: block }
.promo-caption { font-size: 1.7rem; font-weight: 500; margin-top: 5px; margin-bottom: 0 }
.btn-large { height: 54px; line-height: 54px; font-size: 15px; padding: 0 28px }
.btn-large icon { font-size: 1.6rem }
.btn-small { height: 32.4px; line-height: 32.4px; font-size: 13px }
.btn-small icon { font-size: 1.2rem }
.btn-flat { box-shadow: none; background-color: transparent; color: #343434; cursor: pointer; transition: background-color .2s }
.btn-flat:focus, .btn-flat:hover { box-shadow: none }
.btn-flat:focus { background-color: rgba(0, 0, 0, .1) }
.btn-flat.btn-flat[disabled], .btn-flat.disabled { background-color: transparent !important; color: #b3b2b2 !important; cursor: default }
.btn-large { height: 54px; line-height: 54px; font-size: 15px; padding: 0 28px }
.btn-large icon { font-size: 1.6rem }
.btn-small { height: 32.4px; line-height: 32.4px; font-size: 13px }
.btn-small icon { font-size: 1.2rem }
a[download], .bd{
    display: inline-block;
	cursor: pointer;
    text-decoration: none;
    color: #000;
	background-color: #4caf50;
    height: 54px;
    line-height: 54px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 28px;
    outline: 0;
    border: none;
    border-radius: 2px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
a[download], .bd:hover {
	background-color: #00c853;
}